{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<footer class="site-footer">
  <div class="page-width">
      <div class="top-footer">
        <div class="footer-block">
          <div class="footer-logo">
            {% if section.settings.footer_logo != blank %}
              <img src="{{ section.settings.footer_logo | image_url }}" height="" width="" alt="">
            {%endif %}
          </div>
          <div class="social-media">
            <ul>
              {% for social_media in section.blocks %}
                <li>
                  <a href="#" class="social-media_link" target="_blank">
                    <img src="{{ social_media.settings.social_media_icon | image_url}}" height="" width="" alt="">
                  </a>
                </li>
              {% endfor %}
            </ul>
            
          </div>
        </div>

        {% for menu_links in section.blocks %}
          <div class="footer-links">
            <h5> {{ menu_links.settings.title }} </h5>

            <ul>
                <li class="menu-link">
                  <a href="{{ link.url }}">{{ link.menu_link | escape}}</a>
                </li>
            </ul>
              
            </div>
          {% endfor %}
       
      </div>
  </div>
</footer>



{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "social_media",
      "name": "Social Media",
      "settings": [
        {
          "type": "image_picker",
          "label": "Social Media",
          "id": "social_media_icon"
        },
      ]
    },
    {
      "type": "menu_links",
      "name": "Menu Links",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "menu_link",
          "label": "Menu"
        }
      ]
    },
  ],
  "settings": [
    {
      "type": "image_picker",
      "label": "Footer Logo",
      "id": "footer_logo"
    },
  ],
}
{% endschema %}
