{{ 'section-instagram-post.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="text">
    <h2 class="main-title">{{ section.settings.section_title }}</h2>
    <p class="subtitle">{{ section.settings.section_subtitle }}</p>
  </div>

  <div class="row">
    {% for instagram_post in section.blocks %}
      {% if instagram_post.settings.instagram_link != blank or instagram_post.settings.instagram_image!= blank %}
        <div class="col-2">
          <a href="{{ instagram_post.settings.instagram_link }}" class="instagram-link">
            <div class="instagram-img">
              <img src="{{ instagram_post.settings.instagram_image | image_url }}" height="" width="" alt="">
              <div class="instagram-icon">
                  {{- 'instagram-icon.svg' | inline_asset_content -}}
              </div>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Section Instagram Post",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "section_title"
    },
    {
      "type": "text",
      "label": "SubTitle",
      "id": "section_subtitle"
    }
  ],
  "blocks": [
    {
      "type": "instagram_post",
      "name": "Instagram Post",
      "settings": [
        {
          "type": "url",
          "label": "Instagram URL",
          "id": "instagram_link"
        },
        {
          "type": "image_picker",
          "label": "Instagram Image",
          "id": "instagram_image"
        }
      ]
    }
  ],
  "tag": "section",
  "class": "section-instagram-post",
  "presets": [
    {
      "name": "Section Instagram Post"
    }
  ]
}
{% endschema %}
