{{ 'section-banner.css' | asset_url | stylesheet_tag }}

  <div class="page-width">
    <div class="main-slider">
      {% for block in section.blocks %}
        
        <div class="banner-slider" >
          <div class="box">
            {% if block.settings.media_selection == 'image' %}
              {% if block.settings.custom_image != blank %}
                <div class="img-box">
                 <img src="{{ block.settings.custom_image | image_url }}" height="" width="" alt="">
                 <div class="text">
                    <h1> {{ section.settings.banner_heading }} </h1>
                    <p> {{ section.settings.banner_text }} </p>
                    <a  href="#"> {{  section.settings.banner_button }} </a>
                 </div>
                </div>
              {% endif %}
            {% elsif block.settings.media_selection == 'video' %}
              <div class="video-box">
                {{ block.settings.custom_video | video_tag: autoplay: false, loop: true, muted: true, controls: true }}
              </div>
            {% endif %}
          </div>
        </div>

      {% endfor %}
    </div>
  </div>

<script>
  $('.banner-slider').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
  }); 
</script>

{% schema %}
{
  "name": "Section Banner",
  "settings": [
    {
      "type": "text",
      "label": "Banner heading",
      "id": "banner_heading",
    },
    {
      "type": "text",
      "label": "Banner Text",
      "id": "banner_text",
    },
    {
      "type": "url",
      "label": "Banner Button",
      "id": "banner_button",
    },
  ],
  "tag": "section",
  "class": "section-banner",
  "blocks": [
    {
      "type": "banner",
      "name": "banner",
      "settings": [
        {
          "type": "select",
          "id": "media_selection",
          "label": "Select Type",
          "options": [
            {
              "value": "image",
              "label": "Image"
            },
            {
              "value": "video",
              "label": "Video"
            }
          ],
          "default": "video"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Select Image"
        },
        {
          "type": "video",
          "id": "custom_video",
          "label": "Select Video"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Section Banner"
    }
  ]
}
{% endschema %}
