{{ 'section-category.css' | asset_url | stylesheet_tag }}

<div class="section-category">
  <div class="page-width">
    <div class="category-main">
      <div class="title">
        <h2 class="main-title"> {{ section.settings.section_heading }} </h2>
      </div>

      <ul>
        
        {% for cards in section.blocks %}
          {% case cards.type %}
           {% when 'cards' %}
            <li>
              {% if cards.settings.block_link_text != blank or cards.settings.block_img != blank or cards.settings.block_title != blank %}
                <a href="{{ cards.settings.block_link_text }}">
                    <div class="category-icon">
                      <img src="{{ cards.settings.block_img | image_url }}" height="120" width="120" alt="block-img" loading="lazy">
                    </div>
                    <div class="category-title">
                      <h3> {{ cards.settings.block_title }} </h3>
                    </div>
                </a>
              {% endif %}
            </li>
          {% endcase %}
        {% endfor %}
        
      </ul>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section Category",
    "settings": [
      {
        "type": "text",
        "label": "Title",
        "id": "section_heading"
      }
    ],
    "class": "section",
    "tag": "section",
    "blocks": [
      {
        "type": "cards",
        "name": "Category Block",
        "settings": [
          {
            "type": "url",
            "label": "Block URL",
            "id": "block_link_text"
          },
          {
            "type": "image_picker",
            "label": "Block Img",
            "id": "block_img"
          },
          {
            "type": "text",
            "label": "Block Title",
            "id": "block_title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Section Category"
      }
    ]
  }
{% endschema %}